In [19]:
from datetime import datetime
import glob
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
#Seaborn is a data visualization library.
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [20]:
wrkouts = pd.read_json('../observations/strava/activities.json')

In [21]:
wrkouts.head()

,resource_state,athlete,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,id,...,from_accepted_tag,pr_count,total_photo_count,has_kudoed,workout_type,average_watts,kilojoules,device_watts,elev_high,elev_low
0,2,"{'id': 18966367, 'resource_state': 1}",Morning Crossfit,0.0,2021,2021,0.0,Crossfit,Crossfit,8101613036,...,False,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN
1,2,"{'id': 18966367, 'resource_state': 1}",Morning Crossfit,0.0,1766,1766,0.0,Crossfit,Crossfit,8091816369,...,False,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"{'id': 18966367, 'resource_state': 1}",Morning Crossfit,0.0,1877,1877,0.0,Crossfit,Crossfit,8086725422,...,False,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN
3,2,"{'id': 18966367, 'resource_state': 1}",Morning Crossfit,0.0,2542,2542,0.0,Crossfit,Crossfit,8081870128,...,False,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN
4,2,"{'id': 18966367, 'resource_state': 1}",Morning Crossfit,0.0,1999,1999,0.0,Crossfit,Crossfit,8066672778,...,False,0,0,False,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
wrkouts.columns

Index(['resource_state', 'athlete', 'name', 'distance', 'moving_time',
       'elapsed_time', 'total_elevation_gain', 'type', 'sport_type', 'id',
       'start_date', 'start_date_local', 'timezone', 'utc_offset',
       'location_city', 'location_state', 'location_country',
       'achievement_count', 'kudos_count', 'comment_count', 'athlete_count',
       'photo_count', 'map', 'trainer', 'commute', 'manual', 'private',
       'visibility', 'flagged', 'gear_id', 'start_latlng', 'end_latlng',
       'average_speed', 'max_speed', 'has_heartrate', 'average_heartrate',
       'max_heartrate', 'heartrate_opt_out', 'display_hide_heartrate_option',
       'upload_id', 'upload_id_str', 'external_id', 'from_accepted_tag',
       'pr_count', 'total_photo_count', 'has_kudoed', 'workout_type',
       'average_watts', 'kilojoules', 'device_watts', 'elev_high', 'elev_low'],
      dtype='object')

In [23]:
wrkouts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 52 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   resource_state                 200 non-null    int64
 1   athlete                        200 non-null    object
 2   name                           200 non-null    object
 3   distance                       200 non-null    float64
 4   moving_time                    200 non-null    int64
 5   elapsed_time                   200 non-null    int64
 6   total_elevation_gain           200 non-null    float64
 7   type                           200 non-null    object
 8   sport_type                     200 non-null    object
 9   id                             200 non-null    int64
 10  start_date                     200 non-null    object
 11  start_date_local               200 non-null    object
 12  timezone                       200 non-null    object
 13  utc_offset                     200 non-null    int64
 14  location_city                  0 non-null      float64
 15  location_state                 0 non-null      float64
 16  location_country               0 non-null      float64
 17  achievement_count              200 non-null    int64
 18  kudos_count                    200 non-null    int64
 19  comment_count                  200 non-null    int64
 20  athlete_count                  200 non-null    int64
 21  photo_count                    200 non-null    int64
 22  map                            200 non-null    object
 23  trainer                        200 non-null    bool
 24  commute                        200 non-null    bool
 25  manual                         200 non-null    bool
 26  private                        200 non-null    bool
 27  visibility                     200 non-null    object
 28  flagged                        200 non-null    bool
 29  gear_id                        0 non-null      float64
 30  start_latlng                   200 non-null    object
 31  end_latlng                     200 non-null    object
 32  average_speed                  200 non-null    float64
 33  max_speed                      200 non-null    float64
 34  has_heartrate                  200 non-null    bool
 35  average_heartrate              189 non-null    float64
 36  max_heartrate                  189 non-null    float64
 37  heartrate_opt_out              200 non-null    bool
 38  display_hide_heartrate_option  200 non-null    bool
 39  upload_id                      200 non-null    int64
 40  upload_id_str                  200 non-null    int64
 41  external_id                    200 non-null    object
 42  from_accepted_tag              200 non-null    bool
 43  pr_count                       200 non-null    int64
 44  total_photo_count              200 non-null    int64
 45  has_kudoed                     200 non-null    bool
 46  workout_type                   26 non-null     float64
 47  average_watts                  15 non-null     float64
 48  kilojoules                     15 non-null     float64
 49  device_watts                   15 non-null     float64
 50  elev_high                      34 non-null     float64
 51  elev_low                       34 non-null     float64
dtypes: bool(10), float64(16), int64(14), object(12)
memory usage: 67.7+ KB

In [24]:
wrkouts.describe()

,resource_state,distance,moving_time,elapsed_time,total_elevation_gain,id,utc_offset,location_city,location_state,location_country,...,upload_id,upload_id_str,pr_count,total_photo_count,workout_type,average_watts,kilojoules,device_watts,elev_high,elev_low
count,200.0,200.000000,200.000000,200.000000,200.000000,2.000000e+02,200.00000,0.0,0.0,0.0,...,2.000000e+02,2.000000e+02,200.000000,200.0,26.000000,15.000000,15.000000,15.0,34.000000,34.000000
mean,2.0,4437.455500,2196.470000,2343.210000,79.632000,7.029123e+09,-15516.00000,NaN,NaN,NaN,...,7.488430e+09,7.488430e+09,0.425000,0.0,0.384615,107.220000,998.193333,0.0,246.688235,134.708824
std,0.0,14627.253538,2990.749974,3407.845388,321.086968,6.388469e+08,1888.80436,NaN,NaN,NaN,...,6.954103e+08,6.954103e+08,1.731869,0.0,1.961161,21.666241,377.737824,0.0,250.006265,87.054606
min,2.0,0.000000,220.000000,309.000000,0.000000,5.692669e+09,-28800.00000,NaN,NaN,NaN,...,6.055410e+09,6.055410e+09,0.000000,0.0,0.000000,86.000000,415.800000,0.0,109.300000,65.900000
25%,2.0,0.000000,919.500000,929.750000,0.000000,6.590199e+09,-18000.00000,NaN,NaN,NaN,...,7.007809e+09,7.007809e+09,0.000000,0.0,0.000000,95.950000,716.800000,0.0,134.950000,95.600000
50%,2.0,0.000000,1366.000000,1413.500000,0.000000,6.969337e+09,-14400.00000,NaN,NaN,NaN,...,7.416725e+09,7.416725e+09,0.000000,0.0,0.000000,97.900000,1038.100000,0.0,150.950000,106.800000
75%,2.0,0.000000,1951.000000,1951.000000,0.000000,7.573075e+09,-14400.00000,NaN,NaN,NaN,...,8.076978e+09,8.076978e+09,0.000000,0.0,0.000000,114.100000,1110.900000,0.0,217.800000,120.400000
max,2.0,85951.900000,20028.000000,20028.000000,3225.000000,8.101613e+09,-14400.00000,NaN,NaN,NaN,...,8.673605e+09,8.673605e+09,13.000000,0.0,10.000000,165.000000,1709.600000,0.0,1118.300000,460.500000

In [25]:
#Create new dataframe with only columns I care about
cols = [ 'upload_id', 'type', 'distance', 'moving_time',   
         'elapsed_time', 'average_speed', 'max_speed',
         'average_heartrate', 'max_heartrate',
         'total_elevation_gain', 'start_date_local',
         'map'
       ]
activities = wrkouts[cols]

In [26]:
activities.head()

,upload_id,type,distance,moving_time,elapsed_time,average_speed,max_speed,average_heartrate,max_heartrate,total_elevation_gain,start_date_local,map
0,8673604721,Crossfit,0.0,2021,2021,0.0,0.0,151.2,167.0,0.0,2022-11-11T08:06:18Z,"{'id': 'a8101613036', 'summary_polyline': '', ..."
1,8662620879,Crossfit,0.0,1766,1766,0.0,0.0,153.1,172.0,0.0,2022-11-09T07:32:10Z,"{'id': 'a8091816369', 'summary_polyline': '', ..."
2,8656934613,Crossfit,0.0,1877,1877,0.0,0.0,136.0,168.0,0.0,2022-11-08T07:18:11Z,"{'id': 'a8086725422', 'summary_polyline': '', ..."
3,8651500022,Crossfit,0.0,2542,2542,0.0,0.0,151.1,167.0,0.0,2022-11-07T07:14:29Z,"{'id': 'a8081870128', 'summary_polyline': '', ..."
4,8634107706,Crossfit,0.0,1999,1999,0.0,0.0,140.0,165.0,0.0,2022-11-04T07:31:47Z,"{'id': 'a8066672778', 'summary_polyline': '', ..."

In [27]:
# Break start_date_local into start time and date
# This makes is easier to match up with SugarWOD workouts 
activities['start_date_local'] = pd.to_datetime(activities['start_date_local'])
activities['start_time'] = activities['start_date_local'].dt.time
activities['start_date_local'] = activities['start_date_local'].dt.date

/var/folders/qw/d48b51n13sxcgsznf127fvj40000gn/T/ipykernel_81585/2519932629.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activities['start_date_local'] = pd.to_datetime(activities['start_date_local'])
/var/folders/qw/d48b51n13sxcgsznf127fvj40000gn/T/ipykernel_81585/2519932629.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activities['start_time'] = activities['start_date_local'].dt.time
/var/folders/qw/d48b51n13sxcgsznf127fvj40000gn/T/ipykernel_81585/2519932629.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activities['start_date_local'] = activities['start_date_local'].dt.date

In [30]:
activities.head()

,upload_id,type,distance,moving_time,elapsed_time,average_speed,max_speed,average_heartrate,max_heartrate,total_elevation_gain,start_date_local,map,start_time
0,8673604721,Crossfit,0.0,2021,2021,0.0,0.0,151.2,167.0,0.0,2022-11-11,"{'id': 'a8101613036', 'summary_polyline': '', ...",08:06:18
1,8662620879,Crossfit,0.0,1766,1766,0.0,0.0,153.1,172.0,0.0,2022-11-09,"{'id': 'a8091816369', 'summary_polyline': '', ...",07:32:10
2,8656934613,Crossfit,0.0,1877,1877,0.0,0.0,136.0,168.0,0.0,2022-11-08,"{'id': 'a8086725422', 'summary_polyline': '', ...",07:18:11
3,8651500022,Crossfit,0.0,2542,2542,0.0,0.0,151.1,167.0,0.0,2022-11-07,"{'id': 'a8081870128', 'summary_polyline': '', ...",07:14:29
4,8634107706,Crossfit,0.0,1999,1999,0.0,0.0,140.0,165.0,0.0,2022-11-04,"{'id': 'a8066672778', 'summary_polyline': '', ...",07:31:47

In [28]:
activities['type'].value_counts()

Crossfit     83
Workout      81
Ride         18
Run           8
Swim          4
AlpineSki     3
Walk          3
Name: type, dtype: int64

In [15]:
# Create a table for Crossfit and Ride

crossfit = activities.loc[activities['type'] == 'Crossfit']
cycling  = activities.loc[activities['type'] == 'Ride']

In [17]:
# On average, do I reach a higher maximum heartrate during Crossfit workouts or on bike rides?

cf_max_mean = round(crossfit['max_heartrate'].mean(), 2)
br_max_mean = round(cycling['max_heartrate'].mean(), 2)
print("Mean Crossfit Max Heartrate: " + str(cf_max_mean) + " | Mean Cycling Max Heartrate: " + str(br_max_mean))

Average Crossfit Max Heartrate: 169.12 | Average Cycling Max Heartrate: 167.29

In [18]:
# On average, do I maintain a higher average heartrate during bike rides than Crossfit workouts?

cf_avg_mean = round(crossfit['average_heartrate'].mean(), 2)
br_avg_mean = round(cycling['average_heartrate'].mean(), 2)
print("Mean Crossfit Average Heartrate: " + str(cf_avg_mean) + " | Mean Cycling Average Heartrate: " + str(br_avg_mean))

Mean Crossfit Average Heartrate: 151.29 | Mean Cycling Average Heartrate: 137.59